* {
    margin: 0;
    padding: 0;  
  }
  
  body {
    font-family: 'Inria Serif', serif;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .logo img {
    height: 110px;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #4A0606;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .iconos img {
    width: 20px;
    margin-left: 15px;
    cursor: pointer;
  }

  .iconos span {
    font-size: 20px;
    margin-left: 15px;
  }
  
  .banner {
    background: url('../Imagenes/PortadaNuestrosVinos.jpg') no-repeat center center/cover;
    padding: 120px 0;
    text-align: center;
    color: white;
  }
  
  .banner h2 {
    font-size: 30px;
    text-shadow: 1px 1px 2px #000;
    text-align: center;
  }
  
  .lanzamientos {
    background-color: #4A0606; /* Fondo oscuro */
    color: white; /* Texto blanco */
    padding: 40px 20px;
    text-align: center;
    position: relative; /* Necesario para posicionar las líneas */
  }

  .lanzamientos h2 {
    font-size: 26px;
    margin: 0;
    padding: 0;
    font-weight: lighter;
    text-shadow: 1px 1px 2px #000;
    position: relative; /* Para que las líneas se posicionen de forma relativa al título */
  }

  .lanzamientos h2::before,
  .lanzamientos h2::after {
    content: "";
    position: absolute;
    top: 50%; /* Centra las líneas en el eje vertical */
    width: 50%; /* Las líneas cubrirán la mitad de la sección (izquierda y derecha) */
    height: 2px; /* Grosor de las líneas */
    background-color: white; /* Color blanco de la línea */
  }

  .lanzamientos h2::before {
    right: 50%; /* La línea izquierda va desde el borde izquierdo hasta el final de la palabra */
    margin-right: 110px; /* Espacio adicional entre la palabra y la línea */
  }

  .lanzamientos h2::after {
    left: 50%; /* La línea derecha va desde el final de la palabra hasta el borde derecho */
    margin-left: 110px; /* Espacio adicional entre la palabra y la línea */
  }
  
  .productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 30px;
  }
  
  .producto {
    background-color: #ececec;
    color: #4A0606;
    border-radius: 8px;
    padding: 15px;
    width: 230px;
    position: relative;
    text-align: center;
  }
  
  .producto img {
    height: 255px;
  }
  
  .descuento {
    background-color: #111;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .precio-original {
    text-decoration: line-through;
    color: #555;
    margin: 5px 0;
  }
  
  .precio-descuento {
    color: #4A0606;
    font-weight: bold;
    margin: 5px 0;
    font-size: 24px;
  }
  
  .detalle-precio {
    font-size: 13px;
    color: #444;
    margin: 10px 0;
  }
  
  button {
    background-color: #560f13;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
  }
  